@charset="UTF=8";

/* font import */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);


/* -- Eng font -- */

.lfont100{
	font-family: 'Lato', sans-serif;
	font-weight: 100;

}

.lfont300{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.lfont400{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
}

/* noto font (Japanese font) */
.nfont100{
	font-family: 'Noto Sans Japanese', serif;
	font-weight: 100;
}
